<h1>Here is our full record of our Cat Model.</h1>
<%= @cat %>
<h1>Here is our full record of our User Model.</h1>
<% u = User.new %>
<% u.username = "Mikaelo" %>
<% u.email = "mikaelo_0812@berkeley.edu" %>
<%= @user %>
<h1>Here is our full record of our Todo Model.</h1>
<%= @todo %>